/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #fff;
    color: #0099aa;
    text-shadow: none;
}

::selection {
    background: #f44;
    color: #fff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

.pt {
	padding-top: 50px;
}

.pb {
	padding-bottom: 50px;
}

ul{float:left; }
ul li{color:#fff;}

.navbar-header ul li {list-style-type:none;margin-top: 20px;opacity:0.7;color:#fff;font-size: 15px;}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
		background: url(../img/adobe_134837868.jpg) no-repeat center top fixed;
	margin-top: 0px;
	padding-top: 250px;
	text-align:Left;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

h1{
text-align: left;
margin: 36px;
color:#5E9BB5;	
}

.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
	border-top: 5px solid #fff;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {

}

.scroll{
	margin-top: 500px;
	}



.aleft{text-align: left !important;font-size: 18px;padding-left: 20px;}
.aleft img{width: 90%; padding-top: 20px;}
.red{color: #f44;}



a:hover{
	text-decoration:none;
}
		
a:hover .button{
	visibility:visible;
	text-decoration:none;
}
	

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;

}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #49f;
}

.button{
	width:150px; padding: 15px;background:#e44;border-radius: 5px;
}
.button_w{
	padding: 12px 25px 12px 25px;background:#fff;border-radius: 5px;color:#1086b0;
}


.button_w a:hover{
	color:#fff;
	background:#00cccc;
}
a:hover .button_w{
	color:#fff;
	background:#00cccc;
	    transition: all 300ms linear 0s;
}


.button_r{
	width:400px; padding: 12px 25px 12px 25px;background:none;border: 2px solid #e44;color:#e44;letter-spacing:20px;	font-weight: bold;
}

.button_r2{
	font-size: 13px;width:250px; padding: 8px 15px 8px 15px;background:none;border: 2px solid #e44;color:#e44;letter-spacing:6px;	font-weight: bold;
}
 a:hover .button_r{
	color:#fff;
	background:#e44;
}

.icons {width: 30%;color:white;height: 200px;margin-left: 25px;}
.icons h4{color:white;}

.logo{
	font-size: 24px;
	margin-top:-10px;
	}
.phone{
		margin-top:60px;
}	
	
.description{
		font-size: 14px;
color: #f44;
margin-top:-15px !important;		
	}
	

	

.bgcover{
  display: block;
  max-width: 100%;
  height: 200px;
}



.overview{
height: 200px;
background-color: rgba(255,255,255,1);
padding: 0;
}

.blur{

	background-color: rgba(0,0,0,.2);
    backdrop-filter: blur(30px)
}

.img200{
	float: left;
	background-color: rgba(211,229,236,0.9);
	height:200px; 
	width:200px;
	margin: 0;
		margin-right:30px;
}
.img200 img{
	width: 130px;
	height: 130px;
	margin: 25px;

}

a:link .top_spec{
	height: 100px;
	color: #930;
	transition-delay: .5s;
}

a:link .top_spec img{
display: none;
float: left;
	width: 50px;
	margin: 0 10px 10px 0;
}

a:hover .top_spec{
	height: 120px;
	margin-top:-10px;
	color: #ff0;
}

a:hover .top_spec img{
	
display: block;
}

a:hover .top_spec .top_spec_text{
	font-size: 18px;
		margin-top: 25px;
}

:root{
  background:black;
  color:white;
  font-family:monospace;
  overflow:hidden;
}
footer{
  text-align:center;
  position:absolute;
  bottom:0;
  padding:10px;
}
a{
  font-weight:bold;
  color:orange;
}

.curved-text{
  position:relative;
  display:inline-block;
  margin:0 auto;
  font-size:100px;
}

.curved-text span{
  min-width:0.5em;
  text-align:center;
  padding:0;
  margin:0;
}

.tabs {margin-top: 20px;margin-left:-20px;margin-top:20px;}
.tabs li{float:left;margin-left: 20px;list-style-type:none;}
.tabs li a{color: white;}

.tabs-content {

    height:220px;
    overflow:hidden;
}
.tabs-content ul {
	margin:0;
	padding:0;
    list-style: none
    /* Эти 3 линии для Opera */
    height: 220px;
    overflow: scroll;
    overflow-y: hidden;
}
.tabs-content ul li {
    height:220px;
transition: overflow 0.3s ease, color 0.2s linear;
}
